.header__lang-link {
  font: {
    family: $font-family;
    weight: $font-weight-400;
    size: 24px;
    style: $font-style-normal;
    line-height: 28px;
  }

  color: #fff;
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: none;
  transition: $transition-03-ease;

  &:hover {
    opacity: $opacity-08;
  }

  @media screen and (max-width: $breakpint_sm) {
    font-size: 18px;
    line-height: 20px;
  }
}
