.header__lang-link {
  color: #fff;
  font-family: $font-family;
  font-weight: $font-weight-400;
  font-size: 24px;
  line-height: 28px;
  font-style: $font-style-normal;
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: none;
  transition: $transition-03-ease;

  &:hover {
    opacity: $opacity-08;
  }
}

@media screen and (max-width: $breakpint_sm) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
