.page {
  color: $text-color;
  background-color: $bg-color;
  font-family: $font-family;
  font-weight: $font-weight-400;
  min-width: $min-width;
  max-width: $max-width;
  min-height: $min-height;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px 0 28px;
  text-rendering: optimizeLegibility;
}
