.intro__list {
  font: {
    family: $font-family;
    weight: $font-weight-700;
    style: $font-style-normal;
    size: 12px;
    line-height: 18px;
  }

  list-style: none;
  margin: 0;
  padding: 0;
}
