.lead {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2*148px);
}

@media screen and (max-width: $breakpint_xl) {
  .lead {
    width: calc(100% - 2*48px);
  }
}

@media screen and (max-width: $breakpint_md) {
  .lead {
    width: 100%;
  }
}
