.footer__link {
  color: $link-color;
  font-family: $font-family;
  display: inline-block;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration-line: none;
  transition: $transition-03-ease;

  &:hover {
    opacity: $opacity-08;
  }
}

@media screen and (max-width: 480px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
