.intro__text {
  font: {
    family: $font-family;
    weight: $font-weight-400;
    style: $font-style-normal;
    size: 16px;
  }

	line-height: 26px;
  max-width: 690px;
  margin: 0 0 38px 0;
  padding: 0;

  @media screen and (max-width: $breakpint_xl) {
    margin-bottom: 28px;
  }

  @media screen and (max-width: $breakpint_sm) {
    margin-bottom: 34px;
  }
}
