.place__link {
  font: {
    family: $font-family;
    style: $font-style-normal;
    weight: normal;
    size: 18px;
  }

	line-height: 122%;
  color: $link-color;
  margin: 0;
  padding: 0;
  transition: $transition-03-ease;

  &:hover {
    opacity: $opacity-08;
  }
}
