.cover__title {
  font-family: $font-family;
  font-style: $font-style-normal;
  font-weight: $font-weight-900;
  font-size: 72px;
  line-height: 106%;
  margin: 0 auto 32px;
  padding: 0;
  max-width: 560px;
  text-align: center;
  display: flex;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 568px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
}
