.cover__title {
  font: {
    family: $font-family;
    style: $font-style-normal;
    weight: $font-weight-900;
    size: 72px;
    line-height: 106%;
  }

  margin: 0 auto 32px;
  padding: 0;
  max-width: 560px;
  text-align: center;
  display: flex;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 568px) {
    font: {
      size: 32px;
      line-height: 109%;
    }

    max-width: 288px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
  }
}
