.place {
  display: grid;

  grid: {
    template-columns: repeat(2, 1fr);
    template-rows: auto;
    column-gap: 18px;
    row-gap: 50px;
  }

  padding: 0;

  @media screen and (max-width: $breakpint_xl) {
    grid: {
      column-gap: 8px;
      row-gap: 48px;
    }
  }

  @media screen and (max-width: $breakpint_md) {
    grid: {
      column-gap: 28px;
    }
  }

  @media screen and (max-width: 568px) {
    display: flex;

    flex: {
      direction: column;
    }

    grid: {
      column-gap: 0;
      row-gap: 32px;
    }
  }
}
