.place__url-heading {
  font: {
    family: $font-family;
    style: $font-style-normal;
    weight: normal;
    size: 12px;
    line-height: 12px;
  }

  color: $url-color;
  margin: 0 0 12px 0;
  padding: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
}
