.footer__list-item {
  margin: 0 18px 0 0;
  padding: 0;

  &:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: $breakpint_sm) {
    margin-right: 0;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
