.intro__title {
  font: {
    family: $font-family;
    weight: $font-weight-900;
    size: 54px;
    style: $font-style-normal;
    line-height: 58px;
  }

  display: flex;
  margin: 0 0 43px 0;
  padding: 0;

  @media screen and (max-width: $breakpint_sm) {
    font: {
      font-size: 32px;
      line-height: 35px;
    }
  }
}
